<div style="margin-left: 10px">
  <div class="row">
    <div class="col-md-2">
      <div>
        <label for="createdDate">Uchwalony</label>
      </div>
      <input id="createdDate" type="date" name="Data uchwalenia" [(ngModel)]="studiesPlan.createdAt">
    </div>
    <div class="col-md-2">
      <div>
        <label for="startDate">Obowiązuje od</label>
      </div>
      <input id="startDate" type="date" name="Obowiązuje od" [(ngModel)]="studiesPlan.startsAt">
    </div>
    <div class="col-md-2">
      <label for="semestersSelect">Semestry</label>
      <select id="semestersSelect" class="form-control" data-live-search="true"
              (change)="selectSemester($event)">
        <option value=""></option>
        <option *ngFor="let semester of semesters" [value]="semester.id">
          {{semester.number}} - {{semester.coursesString}}
        </option>
      </select>
      <div class="col-md-2">
        <button class="btn btn-success" (click)="addSemester()">Dodaj semestr</button>
      </div>
    </div>
    <div class="col-md-2">
      <label for="educationProgramSelect">Program kształcenia</label>
      <select id="educationProgramSelect" class="form-control" data-live-search="true"
              (change)="selectEducationProgram($event)">
        <option value=""></option>
        <option *ngFor="let educationProgram of educationPrograms" [value]="educationProgram.id">
          {{educationProgram.fieldOfStudyName}} - {{educationProgram.levelOfEducation}} -
          {{educationProgram.courseForm}}
        </option>
      </select>
    </div>
  </div>
  <div class="row">
    <table class="table">
      <thead>
      <th>Semestry</th>
      <th>Kursy</th>
      </thead>
      <tbody>
      <tr *ngFor="let semester of studiesPlan.semesters">
        <td>{{semester.number}}</td>
        <td>{{semester.coursesString}}</td>
        <td>
          <!--<button style="margin-left: 5px" class="btn btn-primary" (click)="editCourse(course.id)">Edycja</button>-->
          <button style="margin-left: 5px" class="btn btn-warning" (click)="deleteSemester(semester.id)">Usuń</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-4">
    <button class="btn btn-success" (click)="save()">Zapisz</button>
  </div>
</div>
